<header>
  <div>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a></div>
  <h1>Dashboard</h1>
</header>

<h1>Hello {{username}} Welcome to your dashboard</h1>
<button id="create-post">Create New Post</button>
<div id="userFeed">
  {{#if Posts}}
    {{#each Posts}}
      <div class="userPostList">
        <h2>{{this.dataValues.header}}</h2>
        <p>{{this.dataValues.createdAt}}</p>
        <button data={{this.dataValues.id}}>Delete</button>
        <button data={{this.dataValues.id}}>Edit</button>
      </div>

    {{/each}}

  {{/if}}
</div>

<script src="./js/dashboard.js"></script>